/* Accent colors */
/* Greyscale */
* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  color: #383838;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  /*background: -webkit-linear-gradient(left,#6b90ca 0%,#bee1fb 20%,#bee1fb 80%, #6b90ca 100%);
  background: -o-linear-gradient(left,#6b90ca 0%,#bee1fb 20%,#bee1fb 80%, #6b90ca 100%);
  background: -ms-linear-gradient(left,#6b90ca 0%,#bee1fb 20%,#bee1fb 80%, #6b90ca 100%);
  background: -moz-linear-gradient(left,#6b90ca 0%,#bee1fb 20%,#bee1fb 80%, #6b90ca 100%);
  background: linear-gradient(left,#6b90ca 0%,#bee1fb 20%,#bee1fb 80%, #6b90ca 100%);*/
  background-color: #f1f5f7; }

strong {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: underline; }

b {
  font-weight: 500; }

hr {
  width: 20%; }

.btn {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  /* future proofing */
  -khtml-border-radius: 2em;
  /* for old Konqueror browsers */ }

.container-fluid {
  padding: 0; }

.container {
  padding: 2em 0 3em 0; }

.wrapper {
  padding: 0 0.5em;
  background-color: #505556; }

h1, h2 {
  font-family: "Questrial", sans-serif; }

h2, h3 {
  font-weight: 500;
  color: #130101; }

header {
  width: 100%;
  background-color: #fbfbfb;
  padding: 0.5em;
  text-align: left; }
  header .name {
    display: inline; }
    header .name .name-link {
      color: inherit; }
      header .name .name-link:hover {
        text-decoration: none; }
    header .name h1 {
      margin: 0 0.25em 0.25em 0;
      font-weight: 300;
      display: inline; }
    header .name h4 {
      margin: 0 1em 1em 0;
      display: inline; }
  header .social {
    display: inline;
    float: right;
    white-space: nowrap;
    position: relative;
    top: 0.5em;
    margin-left: 1em; }
    header .social a {
      font-size: 1.5em;
      color: #383838;
      text-decoration: none;
      padding-right: 0.25em; }
      header .social a:hover {
        color: #ab3939; }
  header .other-site {
    color: #81acff;
    font-weight: bold;
    font-size: 1em;
    float: right;
    margin-top: 0.3em;
    position: relative;
    top: 0.25em; }
    header .other-site:hover {
      color: #81acff;
      text-decoration: underline; }

#intro {
  background: rgba(39, 39, 39, 0.8);
  background-image: url("/content/computer-7.jpg");
  background-position: right bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  padding: 0 0.5em;
  color: #fff;
  position: relative; }
  #intro h2 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 0 5px rgba(51, 45, 45, 0.75), 0 -2px 5px rgba(51, 45, 45, 0.75), 0 2px 5px rgba(51, 45, 45, 0.75), -2px 0 5px rgba(51, 45, 45, 0.75);
    max-width: 600px;
    margin: 0 auto 1.5em auto; }
  #intro #enterprise-app {
    max-width: 100%; }
  #intro hr {
    margin-left: auto;
    margin-right: auto; }
  #intro #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px; }
  #intro .what-i-do {
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    padding: 5em 0; }
    #intro .what-i-do #blurb {
      text-align: left;
      font-size: 0.8em;
      font-weight: 500;
      text-shadow: 2px 0 5px rgba(51, 45, 45, 0.75), 0 -2px 5px rgba(51, 45, 45, 0.75), 0 2px 5px rgba(51, 45, 45, 0.75), -2px 0 5px rgba(51, 45, 45, 0.75);
      max-width: 600px;
      margin: 0 auto 1em auto; }
    #intro .what-i-do .btn-cta {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-weight: 500;
      color: #fff;
      margin: 1em 0;
      font-size: 0.75em;
      background-color: #ef366b;
      outline: none; }
      #intro .what-i-do .btn-cta:active {
        transform: scale(0.95); }
      #intro .what-i-do .btn-cta:hover {
        background-color: #ff4276; }

#services {
  padding: 2em 0.5em 3em 0.5em;
  background-color: #f1f5f7;
  color: #130101; }
  #services h2 {
    margin-bottom: 1em; }
  #services p {
    margin-bottom: 2em; }
    #services p strong {
      color: #130101;
      text-decoration: none; }
  #services .nav-tabs {
    display: inline-block;
    border: none;
    max-width: 760px;
    width: 100%; }
    #services .nav-tabs li {
      width: 100%;
      background-color: #ced4d8;
      border: 5px solid #f1f5f7;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */ }
      #services .nav-tabs li:hover {
        background-color: #80acda; }
        #services .nav-tabs li:hover a {
          color: #130101;
          font-weight: 500; }
      #services .nav-tabs li:active {
        background-color: #f1f5f7; }
      #services .nav-tabs li a {
        padding: 0.75em 0;
        margin: 0;
        border: none;
        color: #383838;
        background-color: initial; }
    #services .nav-tabs .active {
      background-color: #fff; }
      #services .nav-tabs .active a {
        color: #130101;
        font-weight: 500; }
  #services .tab-content {
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */
    background-color: #fff;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    padding: 1em 1em 1.5em 1em;
    text-align: left; }
    #services .tab-content p {
      margin-bottom: 0; }
    #services .tab-content img {
      margin: 0 auto 1em auto;
      display: block; }
    #services .tab-content ul {
      list-style-type: none;
      margin-top: 0.5em; }
      #services .tab-content ul li {
        /* Rounded corners */
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        /* future proofing */
        -khtml-border-radius: 0.2em;
        /* for old Konqueror browsers */
        display: inline-block;
        background: #ced4d8;
        padding: 0.25em 0.5em;
        margin: 0.25em; }

#testimonials {
  background: #fbfbfb;
  padding: 2em 0.5em 3em 0.5em; }
  #testimonials h2 {
    margin-bottom: 1em; }
  #testimonials .reference {
    margin: 0 auto;
    border-radius: 50%;
    width: 125px; }
  #testimonials #testimonials-carousel {
    padding: 0;
    margin-top: 1em; }
    #testimonials #testimonials-carousel .carousel-caption {
      color: #130101;
      position: static;
      padding: 0;
      text-shadow: none;
      margin-bottom: 1.5em;
      max-width: 85%;
      margin: 0 auto; }
      #testimonials #testimonials-carousel .carousel-caption .testimonial-text {
        margin-top: 0.5em;
        text-align: center; }
      #testimonials #testimonials-carousel .carousel-caption hr {
        border-color: #130101;
        margin: 1em auto;
        width: 2em; }
      #testimonials #testimonials-carousel .carousel-caption h4 {
        margin-top: 0.5em; }
    #testimonials #testimonials-carousel .carousel-control {
      color: #383838;
      background-image: none;
      width: 5%;
      text-shadow: none; }
      #testimonials #testimonials-carousel .carousel-control .glyphicon-chevron-left, #testimonials #testimonials-carousel .carousel-control .glyphicon-chevron-right {
        top: 30%; }
      #testimonials #testimonials-carousel .carousel-control:active {
        transform: scale(0.95); }
  #testimonials .carousel-progress {
    max-width: 450px;
    margin: 0 auto;
    background-color: #ced4d8;
    margin-top: 1.5em;
    opacity: 0.75; }
    #testimonials .carousel-progress .carousel-progress-bar {
      height: 3px;
      background-color: rgba(51, 45, 45, 0.5);
      width: 0;
      margin: 0 0 0 0;
      border: none;
      z-index: 11;
      position: relative; }

/* Override bootstrap styles. */
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  background-color: #ced4d8;
  padding: 0.25em 0.35em;
  border-radius: 50%;
  color: #fbfbfb; }

.work-samples {
  list-style-type: none;
  overflow: hidden;
  position: relative; }
  .work-samples .show-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3em 0 2em 0;
    background-image: linear-gradient(180deg, transparent, rgba(52, 61, 69, 0.6), rgba(20, 24, 27, 0.9)); }
    .work-samples .show-more .button {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      -khtml-border-radius: 2em;
      color: #383838;
      background-color: #b9e1ff;
      opacity: 0.8;
      font-weight: 700;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block; }
      .work-samples .show-more .button:active {
        transform: scale(0.95); }
      .work-samples .show-more .button:hover {
        opacity: 1; }
  .work-samples h2 {
    margin-bottom: 1em;
    color: #fff; }
  .work-samples .project {
    color: #fff;
    padding: 0.5em;
    margin: 1em 0;
    background-color: rgba(51, 45, 45, 0.75);
    box-shadow: 0 0.2em 0.2em rgba(51, 45, 45, 0.5);
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */ }
    .work-samples .project h3 {
      color: #fff; }
    .work-samples .project hr {
      margin: 1.5em auto; }
    .work-samples .project .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover;
      border: 2px solid #383838;
      /* Rounded corners */
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      border-radius: 0.2em;
      /* future proofing */
      -khtml-border-radius: 0.2em;
      /* for old Konqueror browsers */ }
    .work-samples .project p {
      max-width: 24em;
      margin: 0 auto; }
    .work-samples .project .btn {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      display: block; }
      .work-samples .project .btn:active {
        transform: scale(0.95); }
    .work-samples .project .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: #b9e1ff solid 1px;
      color: #b9e1ff; }
      .work-samples .project .btn-github:hover {
        background-color: #b9e1ff;
        color: #383838; }
    .work-samples .project .btn-site {
      background-color: transparent;
      border: #fff solid 1px;
      margin-bottom: 0.5em; }
      .work-samples .project .btn-site:hover {
        background-color: #fff;
        color: #383838; }

.contact {
  background-color: #2b2b2b;
  padding: 2em 0.5em 3em 0.5em;
  color: #fff; }
  .contact h2 {
    color: #fff; }
  .contact #portrait {
    margin: 0 auto;
    border-radius: 50%;
    width: 160px; }
  .contact .email {
    color: #ef366b;
    font-size: 1.2em;
    font-weight: bold; }

#scroll-navigation {
  /* Rounded corners */
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  /* future proofing */
  -khtml-border-radius: 0.2em;
  /* for old Konqueror browsers */
  position: fixed;
  right: 0;
  top: 45%;
  padding: 0.5em 0.5em 0.75em 0.5em;
  background-color: #ced4d8;
  opacity: 0.75;
  display: none; }
  #scroll-navigation a {
    color: #130101;
    text-decoration: none;
    opacity: 0.5;
    display: block;
    height: 0;
    line-height: 0;
    padding: 0.5em 0; }
    #scroll-navigation a:hover {
      opacity: 1; }
    #scroll-navigation a:active {
      opacity: 0.75; }
  #scroll-navigation .scroll-active {
    opacity: 1; }

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url("/content/development/ecommerce-wishlist-1.jpg"); }

.img-2 {
  background-image: url("/content/development/weather-app-2.jpg"); }

.img-3 {
  background-image: url("/content/development/image-organizer-1.jpg"); }

.img-4 {
  background-image: url("/content/development/local-movies-search-1.jpg"); }

.img-5 {
  background-image: url("/content/development/hospice-maui-1.jpg"); }

.img-6 {
  background-image: url("/content/development/rfl-1.jpg"); }

@media (max-width: 950px) {
  h1 {
    font-size: 2.25em; }
  header .name h1 {
    display: block; }
  header .name h4 {
    display: block; }
  header .other-site {
    display: block;
    float: none;
    margin-bottom: 0.5em; }
  header .social {
    display: block;
    float: none;
    position: static;
    margin-left: 0; }
  #intro {
    padding: 3em 1em; }
    #intro .what-i-do {
      padding: 0; } }

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em; }
  #intro {
    padding: 2em 1em; }
    #intro .what-i-do {
      padding: 0; } }

#art-wrapper {
  background-color: #fff; }

#art-header {
  background-color: rgba(21, 21, 21, 0.8);
  color: #fff; }
  #art-header .social a {
    color: #fff; }
    #art-header .social a:hover {
      color: #923232; }

#art-body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  color: #383838;
  background: #fafafb;
  overflow-x: hidden; }

#art-intro {
  background-color: #dedede;
  color: #130101; }
  #art-intro legend {
    color: #fff;
    border-bottom: none; }
  #art-intro #filter-form {
    margin-bottom: 1em;
    padding: 0 0.5em; }
    #art-intro #filter-form fieldset {
      margin-bottom: 1em; }
      #art-intro #filter-form fieldset .form-group {
        margin-bottom: 1em; }
        #art-intro #filter-form fieldset .form-group input {
          color: #383838;
          border: none;
          padding: 0.25em 0.5em;
          margin-left: 0.5em;
          /* Rounded corners */
          -moz-border-radius: 0.2em;
          -webkit-border-radius: 0.2em;
          border-radius: 0.2em;
          /* future proofing */
          -khtml-border-radius: 0.2em;
          /* for old Konqueror browsers */ }
    #art-intro #filter-form #toggle-arrow {
      width: 3em;
      height: 3em;
      display: block;
      margin: 0 auto;
      opacity: 0.5;
      cursor: pointer; }
      #art-intro #filter-form #toggle-arrow:hover {
        opacity: 1; }
  #art-intro .tag-list-container {
    width: 100%;
    max-height: 10em;
    overflow: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #fff;
    max-width: 75%;
    margin: 0 auto 1em auto;
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */ }
    #art-intro .tag-list-container li {
      display: inline;
      list-style-type: none;
      padding-right: 1em;
      color: #383838; }
      #art-intro .tag-list-container li .checkbox {
        display: inline;
        visibility: hidden;
        width: 0; }
      #art-intro .tag-list-container li .check-label {
        padding: 0.25em 1em;
        border-radius: 0.5em;
        font-weight: 500;
        cursor: pointer; }
      #art-intro .tag-list-container li .checkbox:checked + .check-label {
        background-color: #ccc;
        color: #444; }

#main-cards h4 {
  margin-bottom: 0; }

.image-card {
  margin-top: 1em;
  text-align: left; }
  .image-card .card-container .img-container {
    text-align: center; }
    .image-card .card-container .img-container .img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .image-card .card-container .img-container img {
      max-width: 100%;
      max-height: 100vh;
      vertical-align: middle; }
  .image-card .card-container a {
    margin-right: 1em; }

@media only screen and (max-width: 992px) {
  .image-card {
    text-align: center; }
  #art-intro .tag-list-container {
    max-width: 100%; } }

#case-studies {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  color: #383838;
  background: #fafafb;
  overflow-x: hidden; }
  #case-studies .banner {
    background: rgba(39, 39, 39, 0.8);
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 0 0.5em;
    color: #fff;
    position: relative;
    min-height: 500px; }
  #case-studies hr {
    margin: 1em auto;
    border-color: #130101; }
  #case-studies .intro {
    text-align: center;
    position: relative;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 0.5em; }
    #case-studies .intro .row {
      margin-top: 1em; }
    #case-studies .intro .btn {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      text-align: center; }
      #case-studies .intro .btn:active {
        transform: scale(0.95); }
    #case-studies .intro .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      margin-right: 1em;
      border: #0a82a7 solid 1px;
      color: #0a82a7; }
      #case-studies .intro .btn-github:hover {
        background-color: #0a82a7;
        color: #fff; }
    #case-studies .intro .btn-site {
      background-color: transparent;
      border: #130101 solid 1px;
      margin-bottom: 0.5em;
      color: #130101; }
      #case-studies .intro .btn-site:hover {
        background-color: #130101;
        color: #fff; }
  #case-studies .study-section {
    text-align: left;
    margin: 0 auto 2em auto;
    max-width: 760px;
    padding: 0 0.5em; }
    #case-studies .study-section li {
      margin-left: 1em; }
  #case-studies .study-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-top: 1px rgba(51, 45, 45, 0.5) solid;
    border-bottom: 1px rgba(51, 45, 45, 0.5) solid;
    margin: 1em 0; }

.btn-see-more {
  /* Rounded corners */
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  /* future proofing */
  -khtml-border-radius: 1em;
  /* for old Konqueror browsers */
  font-size: 1.05em;
  font-weight: 300;
  display: block;
  background-color: transparent;
  border: #130101 solid 1px;
  color: #130101;
  margin: 0 auto 2em auto;
  max-width: 300px; }
  .btn-see-more:active {
    transform: scale(0.95); }
  .btn-see-more:hover {
    background-color: #130101;
    color: #fff; }
