@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* Redesign Accent Colors */
/* Legacy Accent colors */
/* Greyscale */
* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
  color: #2b2b2b;
  background-color: #2b2b2b;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }

strong {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: underline; }

b {
  font-weight: 500; }

hr {
  width: 20%; }

a {
  text-underline-position: under; }

.btn {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  /* future proofing */
  -khtml-border-radius: 2em;
  /* for old Konqueror browsers */ }

.container-fluid {
  padding: 0; }

.container {
  padding: 2em 0 3em 0; }

.wrapper {
  padding: 0 0.5em;
  background-color: #5e5e5e; }

h1, h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.75em; }

h2, h3 {
  font-weight: 500;
  color: #141414; }

header {
  width: 100%;
  text-align: left;
  height: 0; }
  header .button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 2em;
    width: 3em;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease; }
    header .button_container:hover {
      opacity: .7; }
    header .button_container.active .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: #fff; }
    header .button_container.active .middle {
      opacity: 0;
      background: #fff; }
    header .button_container.active .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: #fff; }
    header .button_container span {
      background: #dbdbdb;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      header .button_container span:nth-of-type(2) {
        top: 11px; }
      header .button_container span:nth-of-type(3) {
        top: 22px; }
  header .overlay {
    position: fixed;
    background: #eaeaea;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden; }
    header .overlay.open {
      opacity: .9;
      visibility: visible;
      height: 100%;
      z-index: 1; }
      header .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s; }
        header .overlay.open li:nth-of-type(2) {
          animation-delay: .4s; }
        header .overlay.open li:nth-of-type(3) {
          animation-delay: .45s; }
        header .overlay.open li:nth-of-type(4) {
          animation-delay: .50s; }
    header .overlay nav {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      font-family: 'Vollkorn', serif;
      font-weight: 400;
      text-align: center; }
    header .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; }
      header .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100% / 4);
        min-height: 50px;
        position: relative;
        opacity: 0; }
        header .overlay ul li a {
          display: block;
          position: relative;
          color: #eaeaea;
          text-decoration: none;
          overflow: hidden; }
          header .overlay ul li a:hover:after, header .overlay ul li a:focus:after, header .overlay ul li a:active:after {
            width: 100%; }
          header .overlay ul li a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            transform: translateX(-50%);
            height: 3px;
            background: #eaeaea;
            transition: .35s; }
    header .overlay .social {
      display: inline;
      float: right;
      white-space: nowrap;
      position: relative;
      top: 0.5em;
      margin-left: 1em; }
      header .overlay .social a {
        font-size: 1.5em;
        color: #383838;
        text-decoration: none;
        padding-right: 0.25em; }
        header .overlay .social a:hover {
          color: #7a7a7a; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

#front-intro {
  height: 100vh;
  background-color: #2b2b2b; }
  #front-intro span {
    color: #0b90f7;
    position: relative;
    top: 50vh; }
  #front-intro .front-img {
    position: relative;
    top: 45vh;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    display: block; }
  #front-intro .site-sections {
    position: relative;
    top: 51vh;
    max-width: 21em;
    margin: 0 auto; }
    #front-intro .site-sections a {
      color: #f7f7f7;
      text-decoration: underline;
      text-underline-position: under; }
      #front-intro .site-sections a:hover {
        opacity: 0.8; }

#scroll-navigation {
  /* Rounded corners */
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  /* future proofing */
  -khtml-border-radius: 0.2em;
  /* for old Konqueror browsers */
  position: fixed;
  right: 0;
  top: 45%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #dbdbdb;
  opacity: 0.75;
  display: none; }
  #scroll-navigation a {
    color: #141414;
    text-decoration: none;
    opacity: 0.5;
    display: block;
    height: 0;
    line-height: 0;
    padding: 0.5em 0; }
    #scroll-navigation a:hover {
      opacity: 1; }
    #scroll-navigation a:active {
      opacity: 0.75; }
  #scroll-navigation .scroll-active {
    opacity: 1; }

#dev-intro {
  background: #444444;
  background-image: url("/content/computer-7.jpg");
  background-position: right bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  padding: 0 0.5em;
  color: #fff;
  position: relative; }
  #dev-intro h2 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 0 5px #5e5e5e, 0 -2px 5px #5e5e5e, 0 2px 5px #5e5e5e, -2px 0 5px #5e5e5e;
    max-width: 600px;
    margin: 0 auto 1.5em auto;
    font-size: 1.5em; }
  #dev-intro #enterprise-app {
    max-width: 100%; }
  #dev-intro hr {
    margin-left: auto;
    margin-right: auto; }
  #dev-intro #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px; }
  #dev-intro .what-i-do {
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    padding: 5em 0; }
    #dev-intro .what-i-do #blurb {
      text-align: left;
      font-size: 0.8em;
      font-weight: 500;
      text-shadow: 2px 0 5px #5e5e5e, 0 -2px 5px #5e5e5e, 0 2px 5px #5e5e5e, -2px 0 5px #5e5e5e;
      max-width: 600px;
      margin: 0 auto 1em auto; }
    #dev-intro .what-i-do .btn-cta {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-weight: 500;
      color: #fff;
      margin: 1em 0;
      font-size: 0.75em;
      background-color: #0b90f7;
      outline: none; }
      #dev-intro .what-i-do .btn-cta:hover {
        opacity: 0.8; }
      #dev-intro .what-i-do .btn-cta:active {
        transform: scale(0.95); }

#services {
  padding: 2em 0.5em 3em 0.5em;
  background-color: #f7f7f7;
  color: #141414; }
  #services h2 {
    margin-bottom: 1em; }
  #services p {
    margin-bottom: 2em; }
    #services p strong {
      color: #141414;
      text-decoration: none; }
  #services .nav-tabs {
    display: inline-block;
    border: none;
    max-width: 760px;
    width: 100%; }
    #services .nav-tabs li {
      width: 100%;
      background-color: #c6c6c6;
      margin: 5px;
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */ }
      #services .nav-tabs li:hover {
        opacity: 0.8; }
      #services .nav-tabs li:active {
        transform: scale(0.95); }
      #services .nav-tabs li:hover {
        /* Rounded corners */
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        /* future proofing */
        -khtml-border-radius: 1em;
        /* for old Konqueror browsers */
        background-color: #141414; }
        #services .nav-tabs li:hover:hover {
          opacity: 0.8; }
        #services .nav-tabs li:hover:active {
          transform: scale(0.95); }
        #services .nav-tabs li:hover a {
          color: #fff;
          font-weight: 500; }
      #services .nav-tabs li:active {
        /* Rounded corners */
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        /* future proofing */
        -khtml-border-radius: 1em;
        /* for old Konqueror browsers */
        transform: scale(0.95); }
        #services .nav-tabs li:active:hover {
          opacity: 0.8; }
        #services .nav-tabs li:active:active {
          transform: scale(0.95); }
      #services .nav-tabs li a {
        padding: 0.75em 0;
        margin: 0;
        border: none;
        color: #141414;
        background-color: initial; }
    #services .nav-tabs .active {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      background-color: #0b90f7; }
      #services .nav-tabs .active:hover {
        opacity: 0.8; }
      #services .nav-tabs .active:active {
        transform: scale(0.95); }
      #services .nav-tabs .active a {
        /* Rounded corners */
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        /* future proofing */
        -khtml-border-radius: 1em;
        /* for old Konqueror browsers */
        color: #fff;
        font-weight: 500; }
        #services .nav-tabs .active a:hover {
          opacity: 0.8; }
        #services .nav-tabs .active a:active {
          transform: scale(0.95); }
  #services .tab-content {
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */
    background-color: #fff;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    padding: 1em 1em 1.5em 1em;
    text-align: left;
    border: 1px solid #c6c6c6; }
    #services .tab-content p {
      margin-bottom: 0; }
    #services .tab-content img {
      margin: 0 auto 1em auto;
      display: block; }
    #services .tab-content ul {
      list-style-type: none;
      margin-top: 0.5em; }
      #services .tab-content ul li {
        /* Rounded corners */
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        /* future proofing */
        -khtml-border-radius: 0.2em;
        /* for old Konqueror browsers */
        display: inline-block;
        background: #c6c6c6;
        padding: 0.25em 0.5em;
        margin: 0.25em; }

#testimonials {
  background: #f7f7f7;
  padding: 2em 0.5em 3em 0.5em; }
  #testimonials h2 {
    margin-bottom: 1em; }
  #testimonials .reference {
    margin: 0 auto;
    border-radius: 50%;
    width: 125px; }
  #testimonials #testimonials-carousel {
    padding: 0;
    margin-top: 1em; }
    #testimonials #testimonials-carousel .carousel-caption {
      color: #141414;
      position: static;
      padding: 0;
      text-shadow: none;
      margin-bottom: 1.5em;
      max-width: 85%;
      margin: 0 auto; }
      #testimonials #testimonials-carousel .carousel-caption .testimonial-text {
        margin-top: 0.5em;
        text-align: center; }
      #testimonials #testimonials-carousel .carousel-caption hr {
        border-color: #141414;
        margin: 1em auto;
        width: 2em; }
      #testimonials #testimonials-carousel .carousel-caption h4 {
        margin-top: 0.5em; }
    #testimonials #testimonials-carousel .carousel-control {
      color: #383838;
      background-image: none;
      width: 5%;
      text-shadow: none; }
      #testimonials #testimonials-carousel .carousel-control .glyphicon-chevron-left, #testimonials #testimonials-carousel .carousel-control .glyphicon-chevron-right {
        top: 30%; }
      #testimonials #testimonials-carousel .carousel-control:active {
        transform: scale(0.95); }
  #testimonials .carousel-progress {
    max-width: 450px;
    margin: 0 auto;
    background-color: #dbdbdb;
    margin-top: 1.5em;
    opacity: 0.75; }
    #testimonials .carousel-progress .carousel-progress-bar {
      height: 3px;
      background-color: #b2b2b2;
      width: 0;
      margin: 0 0 0 0;
      border: none;
      z-index: 11;
      position: relative; }

/* Override bootstrap styles. */
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  background-color: #c6c6c6;
  padding: 0.25em 0.35em;
  border-radius: 50%;
  color: #f7f7f7; }

.work-samples {
  list-style-type: none;
  overflow: hidden;
  position: relative; }
  .work-samples .show-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3em 0 2em 0;
    background-image: linear-gradient(180deg, transparent, rgba(52, 61, 69, 0.6), rgba(20, 24, 27, 0.9)); }
    .work-samples .show-more .button {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      -khtml-border-radius: 2em;
      color: #383838;
      background-color: #b9e1ff;
      opacity: 0.8;
      font-weight: 700;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block; }
      .work-samples .show-more .button:hover {
        opacity: 0.8; }
      .work-samples .show-more .button:active {
        transform: scale(0.95); }
      .work-samples .show-more .button:hover {
        opacity: 1; }
  .work-samples h2 {
    margin-bottom: 1em;
    color: #fff; }
  .work-samples .project {
    color: #fff;
    padding: 0.5em;
    margin: 1em 0;
    background-color: #5e5e5e;
    box-shadow: 0 0.2em 0.2em #7a7a7a;
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */ }
    .work-samples .project h3 {
      color: #fff; }
    .work-samples .project hr {
      margin: 1.5em auto; }
    .work-samples .project .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover;
      border: 2px solid #383838;
      /* Rounded corners */
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      border-radius: 0.2em;
      /* future proofing */
      -khtml-border-radius: 0.2em;
      /* for old Konqueror browsers */ }
    .work-samples .project p {
      max-width: 24em;
      margin: 0 auto; }
    .work-samples .project .btn {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      display: block; }
      .work-samples .project .btn:hover {
        opacity: 0.8; }
      .work-samples .project .btn:active {
        transform: scale(0.95); }
    .work-samples .project .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: #b9e1ff solid 1px;
      color: #b9e1ff; }
      .work-samples .project .btn-github:hover {
        background-color: #b9e1ff;
        color: #2b2b2b; }
    .work-samples .project .btn-site {
      background-color: transparent;
      border: #fff solid 1px;
      margin-bottom: 0.5em; }
      .work-samples .project .btn-site:hover {
        background-color: #fff;
        color: #383838; }

.contact {
  background-color: #2b2b2b;
  padding: 2em 0.5em 3em 0.5em;
  color: #fff; }
  .contact h2 {
    color: #fff; }
  .contact #portrait {
    margin: 0 auto;
    border-radius: 50%;
    width: 160px; }
  .contact .email {
    color: #ef366b;
    font-size: 1.2em;
    font-weight: bold; }

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url("/content/development/ecommerce-wishlist-1.jpg"); }

.img-2 {
  background-image: url("/content/development/weather-app-2.jpg"); }

.img-3 {
  background-image: url("/content/development/image-organizer-1.jpg"); }

.img-4 {
  background-image: url("/content/development/local-movies-search-1.jpg"); }

.img-5 {
  background-image: url("/content/development/hospice-maui-1.jpg"); }

.img-6 {
  background-image: url("/content/development/rfl-1.jpg"); }

@media (max-width: 950px) {
  h1 {
    font-size: 2.25em; }
  header .name h1 {
    display: block; }
  header .name h4 {
    display: block; }
  header .other-site {
    display: block;
    float: none;
    margin-bottom: 0.5em; }
  header .social {
    display: block;
    float: none;
    position: static;
    margin-left: 0; }
  #intro {
    padding: 3em 1em; }
    #intro .what-i-do {
      padding: 0; } }

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em; }
  #intro {
    padding: 2em 1em; }
    #intro .what-i-do {
      padding: 0; } }

#art-wrapper {
  background-color: #fff; }

#art-header {
  background-color: rgba(21, 21, 21, 0.8);
  color: #fff; }
  #art-header .social a {
    color: #fff; }
    #art-header .social a:hover {
      color: #923232; }

#art-body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
  color: #383838;
  background: #fafafb;
  overflow-x: hidden; }

#art-intro {
  background-color: #dedede;
  color: #141414; }
  #art-intro legend {
    color: #fff;
    border-bottom: none; }
  #art-intro #filter-form {
    margin-bottom: 1em;
    padding: 0 0.5em; }
    #art-intro #filter-form fieldset {
      margin-bottom: 1em; }
      #art-intro #filter-form fieldset .form-group {
        margin-bottom: 1em; }
        #art-intro #filter-form fieldset .form-group input {
          color: #383838;
          border: none;
          padding: 0.25em 0.5em;
          margin-left: 0.5em;
          /* Rounded corners */
          -moz-border-radius: 0.2em;
          -webkit-border-radius: 0.2em;
          border-radius: 0.2em;
          /* future proofing */
          -khtml-border-radius: 0.2em;
          /* for old Konqueror browsers */ }
    #art-intro #filter-form #toggle-arrow {
      width: 3em;
      height: 3em;
      display: block;
      margin: 0 auto;
      opacity: 0.5;
      cursor: pointer; }
      #art-intro #filter-form #toggle-arrow:hover {
        opacity: 1; }
  #art-intro .tag-list-container {
    width: 100%;
    max-height: 10em;
    overflow: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #fff;
    max-width: 75%;
    margin: 0 auto 1em auto;
    /* Rounded corners */
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    /* future proofing */
    -khtml-border-radius: 0.2em;
    /* for old Konqueror browsers */ }
    #art-intro .tag-list-container li {
      display: inline;
      list-style-type: none;
      padding-right: 1em;
      color: #383838; }
      #art-intro .tag-list-container li .checkbox {
        display: inline;
        visibility: hidden;
        width: 0; }
      #art-intro .tag-list-container li .check-label {
        padding: 0.25em 1em;
        border-radius: 0.5em;
        font-weight: 500;
        cursor: pointer; }
      #art-intro .tag-list-container li .checkbox:checked + .check-label {
        background-color: #ccc;
        color: #444; }

#main-cards h4 {
  margin-bottom: 0; }

.image-card {
  margin-top: 1em;
  text-align: left; }
  .image-card .card-container .img-container {
    text-align: center; }
    .image-card .card-container .img-container .img-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .image-card .card-container .img-container img {
      max-width: 100%;
      max-height: 100vh;
      vertical-align: middle; }
  .image-card .card-container a {
    margin-right: 1em; }

@media only screen and (max-width: 992px) {
  .image-card {
    text-align: center; }
  #art-intro .tag-list-container {
    max-width: 100%; } }

#case-studies {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
  color: #383838;
  background: #fafafb;
  overflow-x: hidden; }
  #case-studies .banner {
    background: rgba(39, 39, 39, 0.8);
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 0 0.5em;
    color: #fff;
    position: relative;
    min-height: 500px; }
  #case-studies hr {
    margin: 1em auto;
    border-color: #141414; }
  #case-studies .intro {
    text-align: center;
    position: relative;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 0.5em; }
    #case-studies .intro .row {
      margin-top: 1em; }
    #case-studies .intro .btn {
      /* Rounded corners */
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      /* future proofing */
      -khtml-border-radius: 1em;
      /* for old Konqueror browsers */
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      text-align: center; }
      #case-studies .intro .btn:hover {
        opacity: 0.8; }
      #case-studies .intro .btn:active {
        transform: scale(0.95); }
    #case-studies .intro .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      margin-right: 1em;
      border: #0a82a7 solid 1px;
      color: #0a82a7; }
      #case-studies .intro .btn-github:hover {
        background-color: #0a82a7;
        color: #fff; }
    #case-studies .intro .btn-site {
      background-color: transparent;
      border: #141414 solid 1px;
      margin-bottom: 0.5em;
      color: #141414; }
      #case-studies .intro .btn-site:hover {
        background-color: #141414;
        color: #fff; }
  #case-studies .study-section {
    text-align: left;
    margin: 0 auto 2em auto;
    max-width: 760px;
    padding: 0 0.5em; }
    #case-studies .study-section li {
      margin-left: 1em; }
  #case-studies .study-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-top: 1px #5e5e5e solid;
    border-bottom: 1px #5e5e5e solid;
    margin: 1em 0; }

.btn-see-more {
  /* Rounded corners */
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  /* future proofing */
  -khtml-border-radius: 1em;
  /* for old Konqueror browsers */
  font-size: 1.05em;
  font-weight: 300;
  display: block;
  background-color: transparent;
  border: #141414 solid 1px;
  color: #141414;
  margin: 0 auto 2em auto;
  max-width: 300px; }
  .btn-see-more:hover {
    opacity: 0.8; }
  .btn-see-more:active {
    transform: scale(0.95); }
  .btn-see-more:hover {
    background-color: #141414;
    color: #fff; }
