* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: $font-2;
  line-height: 1.5em;
  color: $g2;
  background-color: $g2;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

strong {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: underline;
}

b {
  font-weight: 500;
}

hr {
  width: 20%;
}

a {
  text-underline-position: under;
}

.btn {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em; /* future proofing */
  -khtml-border-radius: 2em; /* for old Konqueror browsers */
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 2em 0 3em 0;
}

.wrapper {
  padding: 0 0.5em;
  background-color: $g2;
}

h1, h2 {
  font-family: $font-1;
  font-size: 1.75em;
}

h2, h3 {
  font-weight: 500;
  color: $g1;
}
