#case-studies {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: $font-2;
  line-height: 1.5em;
  color: $color-22;
  background: #fafafb;
  overflow-x: hidden;
  
  .banner {
    background: rgba(39,39,39,0.8);
    background-image: url(/content/case-studies/ecommerce-wishlist/ecommerce-banner.jpg);
    background-position: center center;
    background-size: cover;
    text-align: left;
    padding: 0 0.5em;
    color: #fff;
    position: relative;
    min-height: 500px;
  }
}