#dev-intro {
  background: $g4;
  background-image: url('/content/computer-7.jpg');
  background-position: right bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  padding: 0 0.5em;
  color: $g13;
  position: relative;
  
  h2 {
    text-align: center;
    color: $g13;
    font-weight: 700;
    text-shadow: 2px 0 5px $g5, 0 -2px 5px $g5, 0 2px 5px $g5, -2px 0 5px $g5;
    max-width: 600px;
    margin: 0 auto 1.5em auto;
    font-size: 1.5em;
  }
  
  #enterprise-app {
    max-width: 100%;
  }
  
  hr {
    margin-left: auto;
    margin-right: auto;
  }
  
  #avatar {
    margin: 1em 0;
    border-radius: 50%;
    max-width: 200px;
  }
  
  .what-i-do {
    text-align: center;
    font-size: 1.3em;
    color: $g13;
    padding: 5em 0;
    
    #blurb {
      text-align: left;
      font-size: 0.8em;
      font-weight: 500;
      text-shadow: 2px 0 5px $g5, 0 -2px 5px $g5, 0 2px 5px $g5, -2px 0 5px $g5;
      max-width: 600px;
      margin: 0 auto 1em auto;
    }
    
    .btn-cta {
      @include button-general;
      
      border: none;
      font-weight: 500;
      color: $g13;
      margin: 1em 0;
      font-size: 0.75em;
      background-color: $a1;
      outline: none;
    }
  }
}

#services {
  padding: 2em 0.5em 3em 0.5em;
  background-color: $g12;
  color: $g1;
  
  h2 {
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 2em;
    
    strong {
      color: $g1;
      text-decoration: none;
    }
  }
  
  .nav-tabs {
    display: inline-block;
    border: none;
    max-width: 760px;
    width: 100%;
    
    li {
      width: 100%;
      background-color: $g9;
      // border: 5px solid #f1f5f7;
      margin: 5px;
      
      @include button-general;
      
      
      &:hover {
        @include button-general;
        background-color: $g1;
        
        a {
          color: $g13;
          font-weight: 500;
        }
      }
      
      &:active {
        @include button-general;
        transform: scale(0.95);
      }
      
      a {
        padding: 0.75em 0;
        margin: 0;
        border: none;
        color: $g1;
        background-color: initial;
      }
    }
    
    .active {
      @include button-general;
      
      background-color: $a1;
      
      a {
        @include button-general;
        
        color: $g13;
        font-weight: 500;
      }
    }
  }
  
  .tab-content {
    @include round-corners;
    
    background-color: $g13;
    max-width: 760px;
    margin: 0 auto;
    position: relative;
    padding: 1em 1em 1.5em 1em;
    text-align: left;
    border: 1px solid $g9;
    
    p {
      margin-bottom: 0;
    }
    
    img {
      margin: 0 auto 1em auto;
      display: block;
    }
    
    ul {
      list-style-type: none;
      margin-top: 0.5em;
      
      li {
        @include round-corners;
        display: inline-block;
        background: $g9;
        padding: 0.25em 0.5em;
        margin: 0.25em;
      }
    }
  }
}

#testimonials {
  background: $g11;
  padding: 2em 0.5em 3em 0.5em;
  
  h2 {
    margin-bottom: 1em;
  }
  
  .reference {
    margin: 0 auto;
    border-radius: 50%;
    width: 125px;
  }
  
  #testimonials-carousel {
    padding: 0;
    margin-top: 1em;
    
    .carousel-caption {
      color: $g1;
      position: static;
      padding: 0;
      text-shadow: none;
      margin-bottom: 1.5em;
      max-width: 85%;
      margin: 0 auto;
      
      .testimonial-text {
        margin-top: 0.5em;
        text-align: center;
      }
      
      hr {
        border-color: $g1;
        margin: 1em auto;
        width: 2em;
      }
      
      h4 {
        margin-top: 0.5em;
      }
    }
    
    .carousel-control {
      color: $g3;
      background-image: none;
      width: 5%;
      text-shadow: none;
      
      .glyphicon-chevron-left, .glyphicon-chevron-right {
        top: 30%;
      }
      
      &:active {
        transform: scale(0.95);
      }
    }
  }
  
  .carousel-progress {
    max-width: 450px;
    margin: 0 auto;
    background-color: $g10;
    margin-top: 1.5em;
    opacity: 0.75;
    
    .carousel-progress-bar {
      height: 3px;
      background-color: $g8;
      width: 0;
      margin: 0 0 0 0;
      border: none;
      z-index: 11;
      position: relative;
    }
  }
}

/* Override bootstrap styles. */
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  background-color: $g9;
  padding: 0.25em 0.35em;
  border-radius: 50%;
  color: $g12;
}

.work-samples {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  
  .show-more {
    position: absolute;
		bottom: 0; left: 0;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 3em 0 2em 0;
		
    background-image: linear-gradient(180deg, transparent, rgba(52, 61, 69, 0.6), rgba(20, 24, 27, 0.9));
    
    .button {
      @include button-general;
      
      moz-border-radius: 2em;
      -webkit-border-radius: 2em;
      border-radius: 2em;
      -khtml-border-radius: 2em;
      
      color: $g1;
      background-color: $a1;
      opacity: 0.8;
      font-weight: 700;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
  h2 {
    margin-bottom: 1em;
    color: $g13;
  }
  
  .project {
    color: $g13;
    padding: 0.5em;
    margin: 1em 0;
    background-color: $g4;
    
    @include round-corners;
    
    h3 {
      color: $g13;
    }
    
    hr {
      margin: 1.5em auto;
    }
    
    .img-responsive {
      height: 290px;
      background-position: top;
      background-size: cover;
      border: 2px solid $g3;
      
      @include round-corners;
    }
    
    p {
      max-width: 24em;
      margin: 0 auto;
    }
    
    .btn {
      @include button-general
      
      border: none;
      font-size: 1.05em;
      font-weight: 300;
      display: block;
    }
    
    .btn-github {
      background-color: transparent;
      margin-bottom: 0.5em;
      border: $g13 solid 1px;
      color: $g13;
      
      &:hover {
        background-color: $g13;
        color: $g0;
      }
    }
    
    .btn-site {
      background-color: transparent;
      border: $g0 solid 1px;
      margin-bottom: 0.5em;
      color: $g0;
      
      &:hover {
        background-color: $g0;
        color: $g13;
      }
    }
  }
}

.contact {
    background-color: $g2;
    padding: 2em 0.5em 3em 0.5em;
    color: $g13;
  
  h2 {
    color: $g13;
  }
  
  #portrait {
    margin: 0 auto;
    border-radius: 50%;
    width: 160px;
  }
  
  .email {
    color: $a1;
    font-size: 1.2em;
    font-weight: bold;
  }
}

/*** Load the images into their containers here. ***/
.img-1 {
  background-image: url('/content/development/ecommerce-wishlist-1.jpg');
}

.img-2 {
  background-image: url('/content/development/weather-app-2.jpg');
}

.img-3 {
  background-image: url('/content/development/image-organizer-1.jpg');
}

.img-4 {
  background-image: url('/content/development/local-movies-search-1.jpg');
}

.img-5 {
  background-image: url('/content/development/hospice-maui-1.jpg');
}

.img-6 {
  background-image: url('/content/development/rfl-1.jpg');
}

@media (max-width: 950px) {
  h1 {
    font-size: 2.25em;
  }
  
  header {
    .name {
      h1 {
        display: block;
      }
      
      h4 {
        display: block;
      }
    }
    
    .other-site {
      display: block;
      float: none;
      margin-bottom: 0.5em;
    }
    
    .social {
      display: block;
      float: none;
      position: static;
      margin-left: 0;
    }
  }
  
  #intro {
    padding: 3em 1em;
    
    .what-i-do {
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.75em;
  }
  
  #intro {
    padding: 2em 1em;
    
    .what-i-do {
      padding: 0;
    }
  }
}